<!DOCTYPE html>
<html>
    <head>
        <title>HEX</title>
    </head>
    <body>
        <img id="logo" />
        <table id="stats">
            <tr>
                <th>
                    Now playing:
                </th>
                <th id="playing"><%= playing %></th>
            </tr>
            <tr>
                <th>
                    Games started:
                </th>
                <th id="started"><%= started %></th>
            </tr>
            <tr>
                <th>
                    Games Finished:
                </th>
                <th id="finished"><%= finished %></th>
            </tr>
        </table>

        <form method="POST" action="/play">
            <input name="username" type="text" value="username" maxlength="23"/>
            <button>Play!</button>
        </form>
    </body>
</html>