@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
    background: #202020;
    color: #fff;
    font-family: 'Potta One';
}

#grid {
    display: grid;
    grid-template-columns: auto 60px repeat(32, 30px) 60px auto;
    grid-template-rows: auto auto repeat(11, 17.32px 34.64px) 17.32px;
    grid-gap: 3px;
}

#player, #opponent {
    display: grid;
    grid-template-columns: auto;
    grid-row: 3 / 26;
}

#player {
    grid-column: 2 / 12;
    grid-template-rows: 1fr 9fr 1fr 3fr;
}

#opponent {
    grid-column: 26 / 36;
    grid-template-rows: 3fr 1fr 9fr 1fr;
}

#player a, #opponent a{
    padding: 10px;
    align-self: center;
}

#opponent a {
    text-align: right;
}

#player_name {
    grid-row: 3;
    font-size: 16pt;
}

#opponent_name {
    grid-row: 2;
    font-size: 16pt;
}

#player_won, #player_lost, #opponent_won, #opponent_lost {
    font-size: 20pt;
    text-shadow: 2px 2px #404040;
}

#player_won, #player_lost {
    grid-row: 2;
}

#opponent_won, #player_won {
    color: gold;
}

#opponent_lost, #player_lost {
    color: #60E1E0;
}

#player_pieces {
    grid-row: 4;
}

#opponent_pieces {
    grid-row: 1;
}

#timer {
    grid-area: 1 / 2 / 1 / 36;
    text-align: center;
    font-size: 52pt;
    color: #fff;
}

#turn_label {
    grid-area: 2 / 2 / 2 / 36;
    text-align: center;
    color: #fff;
}

#home {
    position: fixed;
}

#home button{
    position: fixed;
    font: inherit;
    width: 200px;
    height: 45px;
    border-radius: 20px;
    left: calc(50vw - 100px);
    top: calc(50vh - 45px);
    color: #fff;
    background: #2a92c2;
    border: solid #16465c 2px;
}

#home button:hover {
    background: #1C77C3;
}
