body * {
    display: none;
}

#logo {
    display: initial;
}

#warning {
    display: initial;
    position: absolute;
    top: 500px;
    left: 100px;
    color: #fff;
    font-size: 20pt;
    background-color: #577cfad0;
}
